@import url("https://fonts.googleapis.com/css2?family=Festive&family=Montserrat:wght@500&family=Roboto:wght@100;400&family=Sora:wght@300;400&family=Syne+Tactile&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
